@font-face {
  font-family: "Roboto Regular";
  src:
    local("Roboto Regular"),
    url("../fonts/static/Roboto-Regular.ttf") format("ttf");
}

body {
  background-color: #1f2937;
  font-family: "Roboto Regular", Verdana, sans-serif;
}

nav,
footer {
  height: 80px;
}

header,
section {
  height: 500px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

footer,
.button,
.section-3 {
  color: white;
}

footer {
  justify-content: center;
  text-align: center;
}

.button {
  border-radius: 8px;
  padding: 10px 40px;
}

.button,
.section-3 .box {
  background-color: #3882f6;
}

.button:focus {
  outline-offset: 2px;
  outline: 2px dotted white;
}

.container {
  margin: 0 100px;
  padding: 0 50px;
}

.container,
nav .nav-menu,
.section-1 .social-media,
.section-3 .box,
footer {
  align-items: center;
  display: flex;
}

nav .container,
header .container {
  justify-content: space-between;
}

nav .container,
header .container,
section .container {
  height: 100%;
}

nav .logo {
  border-radius: 50%;
}

nav .nav-menu {
  gap: 25px;
}

nav .nav-menu a,
header .hero-secondary-text {
  color: #e5e7eb;
  font-size: 18px;
}

.nav-menu a {
  position: relative;
}

.nav-menu a::after {
  background-color: white;
  bottom: 0;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  transform-origin: bottom left;
  transform: scaleX(0);
  transition: all 0.4s ease-in-out;
  width: 100%;
}

nav .nav-menu a:hover,
.section-1 .social-media a:hover,
.section-3 .button:hover {
  color: deepskyblue;
}

nav .nav-menu a:hover::after {
  transform: scaleX(1);
}

header .hero-main-text {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
}

header .hero-main-text,
.section-1 h3 {
  margin-bottom: 20px;
}

header .hero-secondary-text {
  margin-bottom: 25px;
  margin-right: 50px;
}

.section-1,
.section-3 {
  background-color: white;
}

.section-1 .container {
  flex-direction: column;
}

.section-1 h3 {
  font-weight: 900px;
  margin-top: 30px;
}

.section-1 h3,
.section-2 blockquote {
  font-size: 36px;
  color: #1f2937;
}

.section-1 .social-media {
  gap: 30px;
  margin: auto 0;
  text-align: center;
}

.section-1 .social-media a {
  color: black;
}

.section-2 {
  background-color: #e5e7eb;
  font-weight: 300;
}

.section-2 .container {
  flex-direction: column;
  justify-content: center;
}

.section-2 blockquote {
  font-style: italic;
}

.section-2 h4 {
  font-size: 25px;
  align-self: flex-end;
}

.section-3 .container {
  justify-content: center;
}

.section-3 .box {
  padding: 40px 90px;
  width: 800px;
  justify-content: space-between;
  border-radius: 5px;
}

.section-3 .button {
  border: 1px solid white;
}
